<div class="flex-container">
  <header><h1>Welcome back {{localStorage.getItem('username')}} to {{title}}</h1></header>
  <mat-toolbar>
    <mat-toolbar-row>
    <nav>
      <button mat-raised-button color="primary"  routerLink="/map">Map</button>
      <button mat-raised-button color="primary"  routerLink="/tracker"
              [disabled]="!userService.isLoggedIn()">Tracker</button>
      <button mat-raised-button color="primary"  routerLink="/list"
              [disabled]="!userService.isLoggedIn()">List</button>
      <button mat-raised-button color="primary"  routerLink="/account"
              [disabled]="!userService.isLoggedIn()">Account</button>
      <button mat-raised-button color="primary" (click)="userService.logout()" >Logout</button>
    </nav>
  </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

<div *ngIf="!userService.isLoggedIn()">
  <h2>login</h2>
  <app-login (loggedIn)="loggedIn($event)"></app-login>
  <h2>register</h2>
  <app-register (registered)="registered($event)"></app-register>
</div>

<footer class="footer"><app-messages></app-messages></footer>
